* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/*  ############################
     Project-01 (oyw) Styling

    #############################
*/

/*body {
  font-family: "Poppins", sans-serif;
  background: url(https://images.unsplash.com/photo-1660089798602-1e6c92dc4458?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80)
    no-repeat center center/cover;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.container {
  width: 600px;
  height: 450px;
}

.top-header {
  background-color: #262626;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 5px;
  width: 50%;
  margin: 20px auto;
  padding: 5px;
}

.main-body {
  background-color: #fff;
  width: 100%;
  height: 300px;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 40px;
  padding: 50px 10px;
  line-height: 2rem;
  font-size: 1.5rem;
}

.person {
  color: red;
  margin-top: 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.person {
  color: red;
}

.btn {
  background-color: #262626;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
}

.btn:active {
  background-color: lightblue;
}
*/

/*  ############################
     Project-02 Styling

    #############################*/

/*body {
  font-family: "Poppins", sans-serif;

  background: url(https://images.unsplash.com/photo-1661753222046-575fa62e7d66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80)
    no-repeat center center/cover;
  height: 100vh;
  position: relative;
}

.open-btn {
  position: absolute;
  top: 70%;
  left: 30%;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px 7px;
  box-shadow: 0 0 3px black;
  transition: 0.5s;
  font-size: 1.2rem;
  cursor: pointer;
}

.open-btn:hover {
  background-color: #fff;
  color: #000;
}
.mini-content {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 100px;
  width: 200px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px #000;
  font-size: 1.3rem;

  animation-name: animodal;
  animation-duration: 0.4s;
}

.modal-content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.close-btn {
  font-size: 1.5rem;
  cursor: pointer;
  color: #ff0000;
}

@keyframes animodal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

*/

/*  ############################
     Project-03 Styling

    #############################
*/

/*
 

body {
  background: url(https://media.istockphoto.com/photos/question-mark-picture-id1292771469?b=1&k=20&m=1292771469&s=170667a&w=0&h=XU4Moc0bZoR4xywHxRZR0ynUAbpRRt9lQ6ShuoSoBUM=)
    no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-3 {
  width: 65%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.accordion-text {
  text-align: center;
  padding: 20px;
}

.container-3 .accordion-content .question {
  font-size: 1.2rem;
  padding: 10px 0px;
  border-bottom: 1px solid #000;
  cursor: pointer;
  position: relative;
}

.container-3 .accordion-content .question::after {
  content: "+";
  position: absolute;
  right: -5px;
}

.container-3 .accordion-content .answer {
  width: 100%;
  padding-top: 1rem;
  line-height: 1.7rem;
  height: 0;
  overflow: hidden;
  transition: 0.4s;
}

.container-3 .accordion-content.active .answer {
  height: 120px;
}

.container-3 .accordion-content.active .question {
  font-size: 0.9rem;
  transition: 0.5s;
}

.container-3 .accordion-content.active .question::after {
  content: "-";
  font-size: 1.1rem;
  transition: 0.4s;
}
*/

/*  ############################
     Project-04 Styling

    #############################
    
*/

/*

body {
  background: url(https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9yZXN0JTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60)
    no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-4 {
  width: 65%;
  background-color: #fff;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 5px;
}

.timer {
  text-align: center;
  font-size: 2.5rem;

  padding-top: 40px;
}

.buttons-btn {
  text-align: center;
  margin-top: 20px;
}

button {
  margin: 0 10px;
  border: none;
}

button i {
  font-size: 2rem;
  padding: 10px;
  color: #fff;
}

#play {
  background-color: green;
}

#undo {
  background-color: red;
}

#pause {
  background-color: orange;
}
*/

/*  ############################
     Project-05 Styling

    #############################
    
*/

body {
  background: url(https://images.unsplash.com/photo-1662581872342-3f8e0145668f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60)
    no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-5 {
  width: 300px;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px;
  display: flex;
  margin-bottom: 10px;
}

.main-5 input {
  border-radius: 10px;
  padding: 3px 5px;
  font-size: 1.2rem;
  flex: 5;
  margin-right: 20px;
  transition: 0.4s;
}

#add-task {
  padding: 3px 20px;
  border-radius: 10px;
  font-size: 1.1rem;
  color: green;
  background-color: #fff;
  border: green solid 1px;
  flex: 1;
  transition: 0.2s;
}

#add-task:hover {
  background-color: green;
  color: #fff;
}

/* Styling Tasks on To-do list */

.task {
  width: 100%;
  background-color: aquamarine;
  border-radius: 10px;
  box-shadow: 0 0 5px;
  padding: 7px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.task li {
  font-size: 1.5rem;
  list-style: none;
  flex: 4;
  padding: 5px;
  margin: 10px;
}

.task button {
  flex: 1;
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
}

.task .check-task {
  font-size: 1.4rem;
  color: orange;
  margin-right: 10px;
  border: 2px solid orange;
}

.task .delete-task {
  font-size: 1.4rem;
  color: red;
  margin-right: 10px;
  border: 2px solid red;
}

.task .check-task:hover {
  background-color: orange;
  color: #fff;
}

.task .delete-task:hover {
  background-color: red;
  color: #fff;
}
